/*359174224809689089*/
img[src*='359174224809689089'] {
    content: url('https://cdn.discordapp.com/avatars/359174224809689089/4612e3535b6762b21fa0f9617776791f.webp');
}

img[src*='359174224809689089']:hover{
    content: url('https://cdn.discordapp.com/attachments/359482171452424192/797920223352979467/MOSHED-2020-10-23-18-25-16.gif');
}

.wrapper-3t9DeA img[src*='359174224809689089'] {
    content: url('https://cdn.discordapp.com/attachments/359482171452424192/797920223352979467/MOSHED-2020-10-23-18-25-16.gif') !important;
}

img[src*='359174224809689089'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/359482171452424192/797920223352979467/MOSHED-2020-10-23-18-25-16.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}

/*518831519255756832*/
img[src*='518831519255756832'] {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345201029480539/patrickstar.jpg');
}

img[src*='518831519255756832']:hover {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345222848905226/giphy.gif');
}

img[src*='518831519255756832'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345222848905226/giphy.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}
