/*359174224809689089*/
img[src*='359174224809689089']:hover{
    content: url('https://i.ibb.co/XtbpJN8/ezgif-com-video-to-gif.gif');
}

.wrapper-3t9DeA img[src*='359174224809689089'] {
    content: url('https://i.ibb.co/XtbpJN8/ezgif-com-video-to-gif.gif') !important;
}

img[src*='359174224809689089'] ~ .speaking-B2MXPi {
    content: url('https://i.ibb.co/XtbpJN8/ezgif-com-video-to-gif.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}

/*577266528823803961*/
img[src*='577266528823803961']:hover{
    content: url('https://cdn.discordapp.com/attachments/767945253533384734/807900177008558080/ezgif.com-crop.gif');
}

.wrapper-3t9DeA img[src*='577266528823803961'] {
    content: url('https://cdn.discordapp.com/attachments/767945253533384734/807900177008558080/ezgif.com-crop.gif') !important;
}

div[user_by_bdfdb*='688207744326696960'],div[href*='688207744326696960']{
    display:none;
    width:0;
    height:0;
}

img[src*='577266528823803961'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/767945253533384734/807900177008558080/ezgif.com-crop.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}

/*343537309813047299*/
img[src*='343537309813047299']:hover{
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805331392703496193/ezgif-6-2a0e9d3a776b.gif');
}

.wrapper-3t9DeA img[src*='343537309813047299'] {
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805331392703496193/ezgif-6-2a0e9d3a776b.gif') !important;
}

img[src*='343537309813047299'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805331392703496193/ezgif-6-2a0e9d3a776b.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}

/*688207744326696960*/
img[src*='688207744326696960']:hover{
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805325854414602291/ezgif.com-crop.gif');
}

.wrapper-3t9DeA img[src*='688207744326696960'] {
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805325854414602291/ezgif.com-crop.gif') !important;
}

img[src*='688207744326696960'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/805292353278443542/805325854414602291/ezgif.com-crop.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}

/*518831519255756832*/
img[src*='518831519255756832'] {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345201029480539/patrickstar.jpg');
}

img[src*='518831519255756832']:hover {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345222848905226/giphy.gif');
}

.wrapper-3t9DeA img[src*='518831519255756832'] {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345222848905226/giphy.gif') !important;
}

img[src*='518831519255756832'] ~ .speaking-B2MXPi {
    content: url('https://cdn.discordapp.com/attachments/764090120302231572/798345222848905226/giphy.gif');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 74px;
    height: 74px;
    border: 3px solid #43b581;
}
